.translation-dropdown {
  position: absolute;
  top: 20px;
  right: 20px;

  appearance: none;
  -webkit-appearance: none;

  border: none;
  outline: none;

  background: transparent;

  color: white;
  font-size: 15px;
  font-weight: 600;

  padding: 8px 28px 8px 8px;

  cursor: pointer;

  /* eigener Pfeil */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M2 4l4 4 4-4' fill='white' stroke='%23555' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 7px center;

  border-radius: 7px;

  transition:
    background-color 0.15s ease,
}

.translation-dropdown:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.translation-dropdown:focus {
  background-color: rgba(0, 0, 0, 0.1);
}


/* Optionen */

.translation-dropdown option {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  color: #000;

  font-size: 15px;
  font-weight: 500;
}